@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,500;1,400&family=Mulish:ital,wght@0,200;0,300;0,600;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Poppins:wght@300&display=swap");
/* font-family: 'Cabin', sans-serif;
font-family: 'Mulish', sans-serif;
font-family: 'Poppins', sans-serif; */

* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
  color: black;
  text-decoration: none;
}
.container {
  content: "";

  background: url("./img/pexels-pixabay-261169.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  opacity: 0.9;
}
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-items: center;
}
.logo span {
  color: orange;
}
.logo {
  color: white;
}

.logo h1 {
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
}

.navMenu {
  display: flex;
}
.navItem {
  padding: 0px 15px;
  list-style: none;
  font-family: "Mulish", sans-serif;
  font-size: 1.2rem;
  cursor: pointer;
}

.hero-sec {
  display: flex;
  flex-direction: column;
  align-items: center;

  justify-content: center;
  margin-top: 180px;
}
.navItem a {
  font-weight: 500;
  letter-spacing: 1px;
  font-family: "Poppins", sans-serif;
  transition: 0.4s ease-in-out;
}
.navItem a:hover {
  transform: scale(1.02);
  color: orange;
}
.hero-sec h1 {
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  text-transform: capitalize;
  color:white;

}
.btn {
  height: 30px;
  width: 120px;
  color: black;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.1rem;
  padding-bottom: 4px;
  cursor: pointer;
  border-radius: 20px;
  border: none;
  color: orange;
}
.hamburger {
  display: none;

  cursor: pointer;
}
.bar {
  display: block;
  width: 23px;
  height: 2px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: orange;
}
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }
  .logo h1 {
    font-size: 1.2rem;
  }
  .hero-sec {
    margin-top: 300px;
  }
  .hero-sec h1 {
    font-size: 1.2rem;
    text-align: center;
  }
  .btn {
    height: 25px;
    width: 90px;
    font-size: 0.9rem;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .navMenu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }
  .navItem {
    margin: 16px 0;
  }
  .navMenu.active {
    left: 0;
  }
}
